<div class="sidebar py-3">
  <h2><em class="float-right small">( {{ locations | count }} Locations)</em> <i class="fa fa-home"></i> Listings</h2>

  <mat-expansion-panel class="map-options" [expanded]="!locations?.length">
    <!-- Header -->
    <mat-expansion-panel-header>
      <mat-panel-title> <i class="fa fa-map-pin mr-2 mt-1"></i> Map Options </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="pt-2" id="formSearch" [formGroup]="formSearch" (submit)="submitForm($event)">
      <div class="mb-1">
        <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Zip"></app-form-field>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Price</div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Bedrooms</div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Baths</div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-1">Property Type</div>
        <mat-button-toggle-group name="propType" aria-label="Font Style" multiple class="w-100 d-flex">
          <mat-button-toggle value="bold" class="flex-fill">House</mat-button-toggle>
          <mat-button-toggle value="italic" class="flex-fill">Condo</mat-button-toggle>
          <mat-button-toggle value="underline" class="flex-fill">Townhouse</mat-button-toggle>
          <mat-button-toggle value="underline" class="flex-fill">Multi-family</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      

      <!-- Search button -->
      <div class="ml-auto mr-0 flex-fill w-100 w-lg-auto">
        <button class="btn btn-primary btn-sm mr-0 mb-2 w-100 w-lg-auto" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i> Search!
        </button>
      </div>
    </form>
  </mat-expansion-panel>

  <!-- Listing -->
  <app-listings [locations]="locations"></app-listings>
</div>

