<div class="sidebar py-3">
  <h2>
    <em class="float-right small">( {{ locations | count }} Locations)</em> <i class="fa fa-home"></i> Listings
  </h2>
  <!--
  <div class="map-options top d-none d-lg-block"><app-toggles [locations]="locations" (toggleSelected)="toggleSelected.emit($event)"></app-toggles></div>
  -->

  <!--
  <mat-expansion-panel class="map-options mb-3" [expanded]="!locations?.length">
   
    <mat-expansion-panel-header>
      <mat-panel-title> <i class="fa fa-map-pin mr-2 mt-1"></i> Map Options </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="pt-2" id="formSearch" [formGroup]="formSearch" (submit)="submitForm($event)">
      
      <div class="mb-1">
        <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Zip"></app-form-field>
      </div>
      
      <div class="row align-items-center mb-1">
        <div class="col-2">Price</div>
        <div class="col-5">
        
          <app-form-field [formGroup]="formSearch" formControlName="priceLow" placeholder="Minimum"></app-form-field>
        
          <mat-form-field appearance="outline">
            <mat-select placeholder="Minimum" formControlName="priceLow">
              <mat-option value="" selected>No Min</mat-option><mat-option value="50000">$50k</mat-option
              ><mat-option value="75000">$75k</mat-option><mat-option value="100000">$100k</mat-option
              ><mat-option value="125000">$125k</mat-option><mat-option value="150000">$150k</mat-option
              ><mat-option value="175000">$175k</mat-option><mat-option value="200000">$200k</mat-option
              ><mat-option value="225000">$225k</mat-option><mat-option value="250000">$250k</mat-option
              ><mat-option value="275000">$275k</mat-option><mat-option value="300000">$300k</mat-option
              ><mat-option value="325000">$325k</mat-option><mat-option value="350000">$350k</mat-option
              ><mat-option value="375000">$375k</mat-option><mat-option value="400000">$400k</mat-option
              ><mat-option value="425000">$425k</mat-option><mat-option value="450000">$450k</mat-option
              ><mat-option value="475000">$475k</mat-option><mat-option value="500000">$500k</mat-option
              ><mat-option value="550000">$550k</mat-option><mat-option value="600000">$600k</mat-option
              ><mat-option value="650000">$650k</mat-option><mat-option value="700000">$700k</mat-option
              ><mat-option value="750000">$750k</mat-option><mat-option value="800000">$800k</mat-option
              ><mat-option value="850000">$850k</mat-option><mat-option value="900000">$900k</mat-option
              ><mat-option value="950000">$950k</mat-option><mat-option value="1000000">$1M</mat-option
              ><mat-option value="1250000">$1.25M</mat-option><mat-option value="1500000">$1.5M</mat-option
              ><mat-option value="1750000">$1.75M</mat-option><mat-option value="2000000">$2M</mat-option
              ><mat-option value="2250000">$2.25M</mat-option><mat-option value="2500000">$2.5M</mat-option
              ><mat-option value="2750000">$2.75M</mat-option><mat-option value="3000000">$3M</mat-option
              ><mat-option value="3250000">$3.25M</mat-option><mat-option value="3500000">$3.5M</mat-option
              ><mat-option value="3750000">$3.75M</mat-option><mat-option value="4000000">$4M</mat-option
              ><mat-option value="4250000">$4.25M</mat-option><mat-option value="4500000">$4.5M</mat-option
              ><mat-option value="4750000">$4.75M</mat-option><mat-option value="5000000">$5M</mat-option
              ><mat-option value="6000000">$6M</mat-option> <mat-option value="7000000">$7M</mat-option
              ><mat-option value="8000000">$8M</mat-option><mat-option value="9000000">$9M</mat-option
              ><mat-option value="10000000">$10M</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Maximum" formControlName="priceHigh">
              <mat-option value="" selected>No Max</mat-option><mat-option value="50000">$50k</mat-option
              ><mat-option value="75000">$75k</mat-option><mat-option value="100000">$100k</mat-option
              ><mat-option value="125000">$125k</mat-option><mat-option value="150000">$150k</mat-option
              ><mat-option value="175000">$175k</mat-option><mat-option value="200000">$200k</mat-option
              ><mat-option value="225000">$225k</mat-option><mat-option value="250000">$250k</mat-option
              ><mat-option value="275000">$275k</mat-option><mat-option value="300000">$300k</mat-option
              ><mat-option value="325000">$325k</mat-option><mat-option value="350000">$350k</mat-option
              ><mat-option value="375000">$375k</mat-option><mat-option value="400000">$400k</mat-option
              ><mat-option value="425000">$425k</mat-option><mat-option value="450000">$450k</mat-option
              ><mat-option value="475000">$475k</mat-option><mat-option value="500000">$500k</mat-option
              ><mat-option value="550000">$550k</mat-option><mat-option value="600000">$600k</mat-option
              ><mat-option value="650000">$650k</mat-option><mat-option value="700000">$700k</mat-option
              ><mat-option value="750000">$750k</mat-option><mat-option value="800000">$800k</mat-option
              ><mat-option value="850000">$850k</mat-option><mat-option value="900000">$900k</mat-option
              ><mat-option value="950000">$950k</mat-option><mat-option value="1000000">$1M</mat-option
              ><mat-option value="1250000">$1.25M</mat-option><mat-option value="1500000">$1.5M</mat-option
              ><mat-option value="1750000">$1.75M</mat-option><mat-option value="2000000">$2M</mat-option
              ><mat-option value="2250000">$2.25M</mat-option><mat-option value="2500000">$2.5M</mat-option
              ><mat-option value="2750000">$2.75M</mat-option><mat-option value="3000000">$3M</mat-option
              ><mat-option value="3250000">$3.25M</mat-option><mat-option value="3500000">$3.5M</mat-option
              ><mat-option value="3750000">$3.75M</mat-option><mat-option value="4000000">$4M</mat-option
              ><mat-option value="4250000">$4.25M</mat-option><mat-option value="4500000">$4.5M</mat-option
              ><mat-option value="4750000">$4.75M</mat-option><mat-option value="5000000">$5M</mat-option
              ><mat-option value="6000000">$6M</mat-option> <mat-option value="7000000">$7M</mat-option
              ><mat-option value="8000000">$8M</mat-option><mat-option value="9000000">$9M</mat-option
              ><mat-option value="10000000">$10M</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Beds</div>
        <div class="col-5">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Minimum" formControlName="bedroomsMin">
              <mat-option value="" selected>No Min</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6+</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Maximum" formControlName="bedroomsMax">
              <mat-option value="" selected>No Max</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6+</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <div class="col-2">Baths</div>
        <div class="col-5">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Minimum" formControlName="bathsMin">
              <mat-option value="" selected>No Min</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6+</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Maximum" formControlName="bathsMax">
              <mat-option [value]="''" selected>No Max</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6+</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-2">Property Type</div>
        <mat-button-toggle-group name="propType" multiple class="w-100 d-flex" #group>
          <mat-button-toggle [checked]="true" class="flex-fill" (change)="propTypeChanged($event, 'is_single_family')"
            >House</mat-button-toggle
          >
          <mat-button-toggle [checked]="true" class="flex-fill" (change)="propTypeChanged($event, 'is_condo')"
            >Condo</mat-button-toggle
          >
          <mat-button-toggle [checked]="true" class="flex-fill" (change)="propTypeChanged($event, 'is_townhouse')"
            >Townhouse</mat-button-toggle
          >
          <mat-button-toggle [checked]="true" class="flex-fill" (change)="propTypeChanged($event, 'is_multi_family')"
            >Multi-family</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <div class="float-right">
        <button class="btn btn-primary btn-sm mr-0 mb-2" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i> Search!
        </button>
      </div>
    </form>
  </mat-expansion-panel>
-->

  <!-- Listing -->
  <app-listings [locations]="locations" (listingSelected)="listingSelected.emit($event)"></app-listings>
</div>
