<div class="sidebar py-3">
  <h2>
    <em class="float-right small">( {{ locations | count }} Locations)</em> <i class="fa fa-home"></i> Listings
  </h2>

  <div class="map-options top d-none d-lg-block"><app-toggles [locations]="locations" (toggleSelected)="toggleSelected.emit($event)"></app-toggles></div>

  <mat-expansion-panel class="map-options mb-3" [expanded]="!locations?.length">
    <!-- Header -->
    <mat-expansion-panel-header>
      <mat-panel-title> <i class="fa fa-map-pin mr-2 mt-1"></i> Map Options </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="pt-2" id="formSearch" [formGroup]="formSearch" (submit)="submitForm($event)">
      <div class="mb-1">
        <app-form-field [formGroup]="formSearch" controlName="zip" placeholder="Zip"></app-form-field>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Price</div>
        <div class="col-5"><!-- type="select" [options]="optionsPrice" -->
          <app-form-field [formGroup]="formSearch" controlName="priceLow" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="priceHigh" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Beds</div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="bedroomsMin" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="bedroomsMax" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="row align-items-center mb-1">
        <div class="col-2">Baths</div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="bathsMin" placeholder="Minimum"></app-form-field>
        </div>
        <div class="col-5">
          <app-form-field [formGroup]="formSearch" controlName="bathsMax" placeholder="Maximum"></app-form-field>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-1">Property Type</div>
        <mat-button-toggle-group name="propType" multiple class="w-100 d-flex" #group>
          <mat-button-toggle class="flex-fill" (change)="propTypeChanged($event, 'is_single_family')">House</mat-button-toggle>
          <mat-button-toggle class="flex-fill" (change)="propTypeChanged($event, 'is_condo')">Condo</mat-button-toggle>
          <mat-button-toggle class="flex-fill" (change)="propTypeChanged($event, 'is_townhouse')">Townhouse</mat-button-toggle>
          <mat-button-toggle class="flex-fill" (change)="propTypeChanged($event, 'is_multi_family')">Multi-family</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Search button -->
      <div class="float-right">
        <button class="btn btn-primary btn-sm mr-0 mb-2" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i> Search!
        </button>
      </div>
    </form>
  </mat-expansion-panel>

  <!-- Listing -->
  <app-listings [locations]="locations" (listingSelected)="listingSelected.emit($event)"></app-listings>
</div>
