:host {
  background-color: #fff;
}
#formLocations {
  .form-control {
    width: 75px;
  }
  .input-group-text {
    min-width: 38px;
    text-align: center;
  }
}
.header-rog {
  background: #000;
}

.btn-sidebar-toggle {
  border-radius: 0;
  box-shadow: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

.map-container {
  height: calc(100vh - 46px);
  position: relative;
  overflow-x: hidden;
  .map-container-main {
    height: calc(100vh - 46px);
    position: relative;
  }
  .map-container-box {
    position: relative;
    left: 0;
    transition: 0.2s ease-in;
  }
  .map-container-sidebar {
    height: calc(100vh - 46px);
    background: #fff;
    overflow-y: auto;
  }

  /* */
  .maps-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Mobile Only */
@media (max-width: 992px) {
  .map-container {
    .map-container-main {
      height: calc(100vh - 72px);
    }
    .map-container-sidebar {
      position: absolute;
      left: 100%;
      top: 0;
      transition: 0.2s ease-in;
      min-height: 100%;
    }
    &.open {
      .map-container-sidebar {
        left: 0;
      }
      .map-container-box {
        position: relative;
        left: -100%;
      }
    }
  }
}
