:host{
    background-color:#fff;
}
#formLocations {
  .form-control {
    width: 75px;
  }
  .input-group-text{min-width:38px;text-align:center;}
}

.btn-sidebar-toggle{border-radius:0;box-shadow:0;width:100%;background:#fff;}

.map-container{height:100vh;
    .toggles{width:50px;}
    .map-main{width:calc(100vw - 50px);}
}

@media (max-width: 992px){
    .map-container{
        .toggles{display:none;}
        .map-main{width:100vw;}
    }
}