<div class="container-fluid" style="overflow-x: hidden;" id="map-container">

  
  <div class="row header-rog p-2"><img src="assets/img/logo-rog.png" style="max-height:30px;" /></div>

  <div class="row align-items-stretch map-container" [ngClass]="{ open: sidebarMobileShow }">
    <div class="col col-12 col-lg-7 px-0 map-container-box">
      <div class="d-block d-lg-none">
        <button mat-flat-button class="btn py-1 mat-reverse btn-sidebar-toggle" (click)="sidebarMobileShow = true">
          <i class="fa fa-chevron-right float-right mt-2"></i> <i class="fa fa-map-pin mr-2"></i> ({{
            locationsOriginal | count
          }}) Listings in your area
        </button>
        <app-toggles [locations]="locations" (toggleSelected)="toggleSelected($event)"></app-toggles>
      </div>

      <div class="map-container-main">
        <app-map-mapbox [locations]="locations" [heatmap]="heatmap"></app-map-mapbox>
      </div>
    </div>
    <div class="col col-12 col-lg-5 map-container-sidebar">
      <div class="row">
        <button
          mat-flat-button
          class="btn mat-reverse btn-sidebar-toggle d-block d-lg-none"
          (click)="sidebarMobileShow = false"
        >
          <i class="fa fa-chevron-left float-left mt-2"></i> <i class="fa fa-map mr-2"></i> Back To Map
        </button>
      </div>
      <app-sidebar
        [formSearch]="formSearch"
        [locations]="locationsOriginal"
        (submit)="locationsSearch()"
        (listingSelected)="listingSelected($event)"
        (toggleSelected)="toggleSelected($event)"
      ></app-sidebar>
    </div>
  </div>
</div>
