.container-fluid{ background-color:#f4f4f4;}
.btn:disabled{opacity:.3;}
.btn{
  width: 25px;
  height: 25px;
  background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
  cursor: pointer;
  &.btn-rog {background-image: url(/assets/img/btn-one.png); }
  &.btn-heatmap{background-image: url(/assets/img/btn-heatmap.png);}
}

