<div class="toggles">
  <div class="flyout" *ngIf="toggleMenu?.rogListings">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-pin"
        [disabled]="!locations?.length"
        [ngClass]="{ active: !toggleActive.rogListings }"
        (click)="
          toggleSelected.emit({ event: 'listingsRog', data: false });
          toggleActive.rogListings = false;
          toggleMenu.rogListings = false
        "
        title="Toggle ROG only listings"
      ></button>
      <button
        type="button"
        class="btn btn-pin-rog"
        [disabled]="!locations?.length"
        [ngClass]="{ active: toggleActive.rogListings }"
        (click)="
          toggleSelected.emit({ event: 'listingsRog', data: true });
          toggleActive.rogListings = true;
          toggleMenu.rogListings = false
        "
        title="Toggle ROG only listings"
      ></button>
    </div>
  </div>
  <p class="mb-2">
    <button
      type="button"
      class="btn btn-rog"
      [disabled]="!locations?.length"
      (click)="toggleOpen('rogListings', !toggleMenu.rogListings);"
      title="Toggle ROG only listings"
    ></button>
  </p>

  <!--
    MLS STATUS
  -->
  <div class="flyout" *ngIf="toggleMenu?.mlsStatus">
    <mat-button-toggle-group multiple>
      <mat-button-toggle value="Active" [checked]="toggleActive.mlsStatusActive" >Active</mat-button-toggle>
      <mat-button-toggle value="Pending" [checked]="toggleActive.mlsStatusPending">Pending</mat-button-toggle>
      <mat-button-toggle value="Withdrawn" [checked]="toggleActive.mlsStatusWithdrawn">Withdrawn</mat-button-toggle>
      <mat-button-toggle value="Sold" [checked]="toggleActive.mlsStatusSold">Sold</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <p class="mb-2">
    <button
      type="button"
      class="btn p-0"
      [disabled]="!locations?.length"
      (click)="toggleOpen('mlsStatus', !toggleMenu.mlsStatus);"
    >
    <i class="fa fa-home" aria-hidden="true"></i>
    </button>
  </p>

   <!--
    Days On The Market
  -->
  <div class="flyout" *ngIf="toggleMenu?.daysOnMarket">
      <mat-button-toggle-group>
        <mat-button-toggle value="Active" [checked]="true" >0 - 30</mat-button-toggle>
        <mat-button-toggle value="Pending" [checked]="false">31-60</mat-button-toggle>
        <mat-button-toggle value="Withdrawn" [checked]="false">90+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        [disabled]="!locations?.length"
        (click)="toggleOpen('daysOnMarket', !toggleMenu.daysOnMarket);"
      >
        <i class="fa fa-sun-o" aria-hidden="true"></i>
      </button>
    </p>

  <!--
    Heatmap Toggle
  -->
  <p class="mb-2">
    <button
      type="button"
      class="btn btn-heatmap"
      [ngClass]="{ active: toggleActive.heatmap }"
      (click)="toggleSelected.emit({ event: 'heatmap' }); toggleActive.heatmap = !toggleActive.heatmap"
      [disabled]="!locations?.length"
      title="Toggle Heatmap"
    ></button>
  </p>
  <p class="mb-2">
    <button
      type="button"
      [matMenuTriggerFor]="appMenu"
      class="btn btn-maptype"
      [disabled]="!locations?.length"
      title="Choose different map styles"
    ></button>
    <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'basic' })">
        Basic
      </button>
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'streets' })">
        Streets
      </button>
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'bright' })">
        Bright
      </button>
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'light' })">
        Light
      </button>
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'dark' })">
        Dark
      </button>
      <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'satellite' })">
        Satellite
      </button>
    </mat-menu>
  </p>
</div>
