.container-fluid{ background-color:#f4f4f4;}
.btn:disabled{opacity:.3;}
.btn-rog {
  background-image: url(/assets/img/btn-one.png);
  background-color: transparent;
  background-size: contain;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
}
