<form [formGroup]="formSearch">
  <div class="toggles">
    <div class="flyout" *ngIf="toggleMenu?.rogListings">
      <div class="btn-group">
        <button
          type="button"
          class="btn p-0"
          [ngClass]="{ active: !formSearch.value.isBrand }"
          (click)="formChangeValue('isBrand', !formSearch.value.isBrand); toggleBackgroundShow = false; toggleClose()"
          title="Toggle ROG only listings"
        >
          <img src="assets/img/map-icon.png" style="max-width:30px;max-height:30px;" />
        </button>
        <button
          type="button"
          class="btn p-0"
          [ngClass]="{ active: formSearch.value.isBrand }"
          (click)="formChangeValue('isBrand', !formSearch.value.isBrand); toggleBackgroundShow = false; toggleClose()"
          title="Toggle ROG only listings"
        >
          <img src="assets/img/map-icon-rog.png" style="max-width:30px;max-height:30px;" />
        </button>
      </div>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn btn-rog"
        (click)="toggleOpen('rogListings', !toggleMenu.rogListings)"
        title="Toggle ROG only listings"
        [ngClass]="{ selected: toggleMenu.rogListings }"
      ></button>
    </p>

    <!--
    Property Type
    -->
    <div class="flyout small" *ngIf="toggleMenu?.propertyType">
      <mat-button-toggle-group name="propType" multiple class="w-100 d-flex" #group>
        <mat-button-toggle
          class="flex-fill"
          [checked]="formSearch.value.is_single_family"
          (click)="formChangeValue('is_single_family', !formSearch.value.is_single_family)"
        >
          House
        </mat-button-toggle>
        <mat-button-toggle
          class="flex-fill"
          [checked]="formSearch.value.is_condo"
          (click)="formChangeValue('is_condo', !formSearch.value.is_condo)"
        >
          Condo
        </mat-button-toggle>
        <mat-button-toggle
          class="flex-fill"
          [checked]="formSearch.value.is_townhouse"
          (click)="formChangeValue('is_townhouse', !formSearch.value.is_townhouse)"
        >
          Townhome
        </mat-button-toggle>
        <mat-button-toggle
          class="flex-fill"
          [checked]="formSearch.value.is_multi_family"
          (click)="formChangeValue('is_multi_family', !formSearch.value.is_multi_family)"
        >
          Multi-family
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('propertyType', !toggleMenu.propertyType)"
        [ngClass]="{
          selected: toggleMenu.propertyType,
          active:
            !formSearch.value.is_single_family ||
            !formSearch.value.is_condo ||
            !formSearch.value.is_townhouse ||
            !formSearch.value.is_multi_family
        }"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    MLS STATUS
    -->
    <div class="flyout" *ngIf="toggleMenu?.mlsStatus">
      <mat-button-toggle-group multiple>
        <mat-button-toggle
          value="Active"
          [checked]="formSearch.value.listing_status_active"
          (click)="formChangeValue('listing_status_active', !formSearch.value.listing_status_active)"
          >Active</mat-button-toggle
        >
        <mat-button-toggle
          value="Pending"
          [checked]="formSearch.value.listing_status_pending"
          (click)="formChangeValue('listing_status_pending', !formSearch.value.listing_status_pending)"
        >
          Pending
        </mat-button-toggle>
        <mat-button-toggle
          value="Withdrawn"
          [checked]="formSearch.value.listing_status_withdrawn"
          (click)="formChangeValue('listing_status_withdrawn', !formSearch.value.listing_status_withdrawn)"
          >Withdrawn</mat-button-toggle
        >
        <mat-button-toggle
          value="Sold"
          [checked]="formSearch.value.listing_status_sold"
          (click)="formChangeValue('listing_status_sold', !formSearch.value.listing_status_sold)"
          >Sold</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('mlsStatus', !toggleMenu.mlsStatus)"
        [ngClass]="{
          selected: toggleMenu.mlsStatus,
          active:
            !formSearch.value.listing_status_active ||
            !formSearch.value.listing_status_pending ||
            !formSearch.value.listing_status_withdrawn ||
            !formSearch.value.listing_status_sold
        }"
      >
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Days On The Market
    -->
    <div class="flyout" *ngIf="toggleMenu?.daysOnMarket">
      <mat-button-toggle-group formControlName="days_on_market">
        <mat-button-toggle value="0">0 - 30</mat-button-toggle>
        <mat-button-toggle value="1">31-60</mat-button-toggle>
        <mat-button-toggle value="2">90+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('daysOnMarket', !toggleMenu.daysOnMarket)"
        [ngClass]="{ selected: toggleMenu.daysOnMarket, active: formSearch.value.days_on_market !== '2' }"
      >
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Beds
    -->
    <div class="flyout" *ngIf="toggleMenu?.beds">
      <div class="d-flex flex-row">
        <mat-button-toggle-group vertical class="mr-2" formControlName="bedroomsMin">
          <mat-button-toggle value="">No Min</mat-button-toggle>
          <mat-button-toggle
            value="1"
            [disabled]="formSearch.value.bedroomsMax < 1 && formSearch.value.bedroomsMax !== ''"
            >1</mat-button-toggle
          >
          <mat-button-toggle
            value="2"
            [disabled]="formSearch.value.bedroomsMax < 2 && formSearch.value.bedroomsMax !== ''"
            >2</mat-button-toggle
          >
          <mat-button-toggle
            value="3"
            [disabled]="formSearch.value.bedroomsMax < 3 && formSearch.value.bedroomsMax !== ''"
            >3</mat-button-toggle
          >
          <mat-button-toggle
            value="4"
            [disabled]="formSearch.value.bedroomsMax < 4 && formSearch.value.bedroomsMax !== ''"
            >4</mat-button-toggle
          >
          <mat-button-toggle
            value="5"
            [disabled]="formSearch.value.bedroomsMax < 5 && formSearch.value.bedroomsMax !== ''"
            >5+</mat-button-toggle
          >
        </mat-button-toggle-group>
        <mat-button-toggle-group vertical class="mr-2" formControlName="bedroomsMax">
          <mat-button-toggle value="">No Max</mat-button-toggle>
          <mat-button-toggle
            value="1"
            [disabled]="formSearch.value.bedroomsMin > 1 && formSearch.value.bedroomsMin !== ''"
            >1</mat-button-toggle
          >
          <mat-button-toggle
            value="2"
            [disabled]="formSearch.value.bedroomsMin > 2 && formSearch.value.bedroomsMin !== ''"
            >2</mat-button-toggle
          >
          <mat-button-toggle
            value="3"
            [disabled]="formSearch.value.bedroomsMin > 3 && formSearch.value.bedroomsMin !== ''"
            >3</mat-button-toggle
          >
          <mat-button-toggle
            value="4"
            [disabled]="formSearch.value.bedroomsMin > 4 && formSearch.value.bedroomsMin !== ''"
            >4</mat-button-toggle
          >
          <mat-button-toggle
            value="5"
            [disabled]="formSearch.value.bedroomsMin > 5 && formSearch.value.bedroomsMin !== ''"
            >5+</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('beds', !toggleMenu.beds)"
        [ngClass]="{
          selected: toggleMenu.beds,
          active: formSearch.value.bedroomsMin !== '' || formSearch.value.bedroomsMax !== ''
        }"
      >
        <i class="fa fa-bed" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Baths
    -->
    <div class="flyout" *ngIf="toggleMenu?.baths">
      <div class="d-flex flex-row">
        <mat-button-toggle-group vertical class="mr-2" formControlName="bathsMin">
          <mat-button-toggle value="">No Min</mat-button-toggle>
          <mat-button-toggle value="1" [disabled]="formSearch.value.bathsMax < 1 && formSearch.value.bathsMax !== ''">
            1
          </mat-button-toggle>
          <mat-button-toggle value="2" [disabled]="formSearch.value.bathsMax < 2 && formSearch.value.bathsMax !== ''"
            >2</mat-button-toggle
          >
          <mat-button-toggle value="3" [disabled]="formSearch.value.bathsMax < 3 && formSearch.value.bathsMax !== ''"
            >3</mat-button-toggle
          >
          <mat-button-toggle value="4" [disabled]="formSearch.value.bathsMax < 4 && formSearch.value.bathsMax !== ''"
            >4</mat-button-toggle
          >
          <mat-button-toggle value="5" [disabled]="formSearch.value.bathsMax < 5 && formSearch.value.bathsMax !== ''"
            >5+</mat-button-toggle
          >
        </mat-button-toggle-group>
        <mat-button-toggle-group vertical class="mr-2" formControlName="bathsMax">
          <mat-button-toggle value="">No Max</mat-button-toggle>
          <mat-button-toggle value="1" [disabled]="formSearch.value.bathsMin > 1 && formSearch.value.bathsMin !== ''"
            >1</mat-button-toggle
          >
          <mat-button-toggle value="2" [disabled]="formSearch.value.bathsMin > 2 && formSearch.value.bathsMin !== ''"
            >2</mat-button-toggle
          >
          <mat-button-toggle value="3" [disabled]="formSearch.value.bathsMin > 3 && formSearch.value.bathsMin !== ''"
            >3</mat-button-toggle
          >
          <mat-button-toggle value="4" [disabled]="formSearch.value.bathsMin > 4 && formSearch.value.bathsMin !== ''"
            >4</mat-button-toggle
          >
          <mat-button-toggle value="5" [disabled]="formSearch.value.bathsMin > 5 && formSearch.value.bathsMin !== ''"
            >5+</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('baths', !toggleMenu.baths)"
        [ngClass]="{
          selected: toggleMenu.baths,
          active: formSearch.value.bathsMin !== '' || formSearch.value.bathsMax !== ''
        }"
      >
        <i class="fa fa-bath" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Price
    -->
    <div class="flyout" *ngIf="toggleMenu?.price" style="top: 20%;">
      <div class="d-flex flex-row">
        <mat-button-toggle-group vertical class="sm mr-2" formControlName="priceLow">
          <mat-button-toggle value="">No Min Price</mat-button-toggle>
          <mat-button-toggle
            value="50000"
            [disabled]="formSearch.value.priceHigh < 50000 && formSearch.value.priceHigh !== ''"
            >$50k</mat-button-toggle
          >
          <mat-button-toggle
            value="10000"
            [disabled]="formSearch.value.priceHigh < 10000 && formSearch.value.priceHigh !== ''"
            >$100k</mat-button-toggle
          >
          <mat-button-toggle
            value="150000"
            [disabled]="formSearch.value.priceHigh < 150000 && formSearch.value.priceHigh !== ''"
            >$150k</mat-button-toggle
          >
          <mat-button-toggle
            value="200000"
            [disabled]="formSearch.value.priceHigh < 200000 && formSearch.value.priceHigh !== ''"
            >$200k</mat-button-toggle
          >
          <mat-button-toggle
            value="250000"
            [disabled]="formSearch.value.priceHigh < 250000 && formSearch.value.priceHigh !== ''"
            >$250k</mat-button-toggle
          >
          <mat-button-toggle
            value="300000"
            [disabled]="formSearch.value.priceHigh < 300000 && formSearch.value.priceHigh !== ''"
            >$300k</mat-button-toggle
          >
          <mat-button-toggle
            value="400000"
            [disabled]="formSearch.value.priceHigh < 400000 && formSearch.value.priceHigh !== ''"
            >$400k</mat-button-toggle
          >
          <mat-button-toggle
            value="450000"
            [disabled]="formSearch.value.priceHigh < 450000 && formSearch.value.priceHigh !== ''"
            >$450k</mat-button-toggle
          >
          <mat-button-toggle
            value="500000"
            [disabled]="formSearch.value.priceHigh < 500000 && formSearch.value.priceHigh !== ''"
            >$500k</mat-button-toggle
          >
          <mat-button-toggle
            value="600000"
            [disabled]="formSearch.value.priceHigh < 600000 && formSearch.value.priceHigh !== ''"
            >$600k</mat-button-toggle
          >
          <mat-button-toggle
            value="700000"
            [disabled]="formSearch.value.priceHigh < 700000 && formSearch.value.priceHigh !== ''"
            >$700k</mat-button-toggle
          >
          <mat-button-toggle
            value="800000"
            [disabled]="formSearch.value.priceHigh < 800000 && formSearch.value.priceHigh !== ''"
            >$800k</mat-button-toggle
          >
          <mat-button-toggle
            value="900000"
            [disabled]="formSearch.value.priceHigh < 900000 && formSearch.value.priceHigh !== ''"
            >$900k</mat-button-toggle
          >
          <mat-button-toggle
            value="1000000"
            [disabled]="formSearch.value.priceHigh < 1000000 && formSearch.value.priceHigh !== ''"
            >$1M+</mat-button-toggle
          >
        </mat-button-toggle-group>

        <mat-button-toggle-group vertical class="sm" formControlName="priceHigh">
          <mat-button-toggle value="">No Max Price</mat-button-toggle>
          <mat-button-toggle
            value="50000"
            [disabled]="formSearch.value.priceLow > 50000 && formSearch.value.priceLow !== ''"
            >$50k</mat-button-toggle
          >
          <mat-button-toggle
            value="10000"
            [disabled]="formSearch.value.priceLow > 10000 && formSearch.value.priceLow !== ''"
            >$100k</mat-button-toggle
          >
          <mat-button-toggle
            value="150000"
            [disabled]="formSearch.value.priceLow > 150000 && formSearch.value.priceLow !== ''"
            >$150k</mat-button-toggle
          >
          <mat-button-toggle
            value="200000"
            [disabled]="formSearch.value.priceLow > 200000 && formSearch.value.priceLow !== ''"
            >$200k</mat-button-toggle
          >
          <mat-button-toggle
            value="250000"
            [disabled]="formSearch.value.priceLow > 250000 && formSearch.value.priceLow !== ''"
            >$250k</mat-button-toggle
          >
          <mat-button-toggle
            value="300000"
            [disabled]="formSearch.value.priceLow > 300000 && formSearch.value.priceLow !== ''"
            >$300k</mat-button-toggle
          >
          <mat-button-toggle
            value="400000"
            [disabled]="formSearch.value.priceLow > 400000 && formSearch.value.priceLow !== ''"
            >$400k</mat-button-toggle
          >
          <mat-button-toggle
            value="450000"
            [disabled]="formSearch.value.priceLow > 450000 && formSearch.value.priceLow !== ''"
            >$450k</mat-button-toggle
          >
          <mat-button-toggle
            value="500000"
            [disabled]="formSearch.value.priceLow > 500000 && formSearch.value.priceLow !== ''"
            >$500k</mat-button-toggle
          >
          <mat-button-toggle
            value="600000"
            [disabled]="formSearch.value.priceLow > 600000 && formSearch.value.priceLow !== ''"
            >$600k</mat-button-toggle
          >
          <mat-button-toggle
            value="700000"
            [disabled]="formSearch.value.priceLow > 700000 && formSearch.value.priceLow !== ''"
            >$700k</mat-button-toggle
          >
          <mat-button-toggle
            value="800000"
            [disabled]="formSearch.value.priceLow > 800000 && formSearch.value.priceLow !== ''"
            >$800k</mat-button-toggle
          >
          <mat-button-toggle
            value="900000"
            [disabled]="formSearch.value.priceLow > 900000 && formSearch.value.priceLow !== ''"
            >$900k</mat-button-toggle
          >
          <mat-button-toggle
            value="1000000"
            [disabled]="formSearch.value.priceLow > 1000000 && formSearch.value.priceLow !== ''"
            >$1M+</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>

    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('price', !toggleMenu.price)"
        [ngClass]="{
          selected: toggleMenu.price,
          active: formSearch.value.priceLow !== '' || formSearch.value.priceHigh !== ''
        }"
      >
        <i class="fa fa-dollar" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Square footage
    -->
    <div class="flyout" *ngIf="toggleMenu?.sqft" style="top: 20%;">
      <div class="d-flex flex-row">
        <mat-button-toggle-group vertical class="sm mr-2" formControlName="sqFootageMin">
          <mat-button-toggle value="">No Min Sq Ft</mat-button-toggle>
          <mat-button-toggle
            value="250"
            [disabled]="formSearch.value.sqFootageMax < 250 && formSearch.value.sqFootageMax !== ''"
            >250</mat-button-toggle
          >
          <mat-button-toggle
            value="500"
            [disabled]="formSearch.value.sqFootageMax < 500 && formSearch.value.sqFootageMax !== ''"
            >500</mat-button-toggle
          >
          <mat-button-toggle
            value="750"
            [disabled]="formSearch.value.sqFootageMax < 750 && formSearch.value.sqFootageMax !== ''"
            >750</mat-button-toggle
          >
          <mat-button-toggle
            value="1000"
            [disabled]="formSearch.value.sqFootageMax < 1000 && formSearch.value.sqFootageMax !== ''"
            >1000</mat-button-toggle
          >
          <mat-button-toggle
            value="1250"
            [disabled]="formSearch.value.sqFootageMax < 1250 && formSearch.value.sqFootageMax !== ''"
            >1250</mat-button-toggle
          >
          <mat-button-toggle
            value="1500"
            [disabled]="formSearch.value.sqFootageMax < 1500 && formSearch.value.sqFootageMax !== ''"
            >1500</mat-button-toggle
          >
          <mat-button-toggle
            value="1750"
            [disabled]="formSearch.value.sqFootageMax < 1750 && formSearch.value.sqFootageMax !== ''"
            >1750</mat-button-toggle
          >
          <mat-button-toggle
            value="2000"
            [disabled]="formSearch.value.sqFootageMax < 2000 && formSearch.value.sqFootageMax !== ''"
            >2000</mat-button-toggle
          >
          <mat-button-toggle
            value="2500"
            [disabled]="formSearch.value.sqFootageMax < 2500 && formSearch.value.sqFootageMax !== ''"
            >2500</mat-button-toggle
          >
          <mat-button-toggle
            value="3000"
            [disabled]="formSearch.value.sqFootageMax < 3000 && formSearch.value.sqFootageMax !== ''"
            >3000</mat-button-toggle
          >
          <mat-button-toggle
            value="3500"
            [disabled]="formSearch.value.sqFootageMax < 3500 && formSearch.value.sqFootageMax !== ''"
            >3500</mat-button-toggle
          >
          <mat-button-toggle
            value="4000"
            [disabled]="formSearch.value.sqFootageMax < 4000 && formSearch.value.sqFootageMax !== ''"
            >4000+</mat-button-toggle
          >
        </mat-button-toggle-group>
        <mat-button-toggle-group vertical class="sm" formControlName="sqFootageMax">
          <mat-button-toggle value="">No Max Sq Ft</mat-button-toggle>
          <mat-button-toggle
            value="250"
            [disabled]="formSearch.value.sqFootageMin > 250 && formSearch.value.sqFootageMin !== ''"
            >250</mat-button-toggle
          >
          <mat-button-toggle
            value="500"
            [disabled]="formSearch.value.sqFootageMin > 500 && formSearch.value.sqFootageMin !== ''"
            >500</mat-button-toggle
          >
          <mat-button-toggle
            value="750"
            [disabled]="formSearch.value.sqFootageMin > 750 && formSearch.value.sqFootageMin !== ''"
            >750</mat-button-toggle
          >
          <mat-button-toggle
            value="1000"
            [disabled]="formSearch.value.sqFootageMin > 1000 && formSearch.value.sqFootageMin !== ''"
            >1000</mat-button-toggle
          >
          <mat-button-toggle
            value="1250"
            [disabled]="formSearch.value.sqFootageMin > 1250 && formSearch.value.sqFootageMin !== ''"
            >1250</mat-button-toggle
          >
          <mat-button-toggle
            value="1500"
            [disabled]="formSearch.value.sqFootageMin > 1500 && formSearch.value.sqFootageMin !== ''"
            >1500</mat-button-toggle
          >
          <mat-button-toggle
            value="1750"
            [disabled]="formSearch.value.sqFootageMin > 1750 && formSearch.value.sqFootageMin !== ''"
            >1750</mat-button-toggle
          >
          <mat-button-toggle
            value="2000"
            [disabled]="formSearch.value.sqFootageMin > 2000 && formSearch.value.sqFootageMin !== ''"
            >2000</mat-button-toggle
          >
          <mat-button-toggle
            value="2500"
            [disabled]="formSearch.value.sqFootageMin > 2500 && formSearch.value.sqFootageMin !== ''"
            >2500</mat-button-toggle
          >
          <mat-button-toggle
            value="3000"
            [disabled]="formSearch.value.sqFootageMin > 3000 && formSearch.value.sqFootageMin !== ''"
            >3000</mat-button-toggle
          >
          <mat-button-toggle
            value="3500"
            [disabled]="formSearch.value.sqFootageMin > 3500 && formSearch.value.sqFootageMin !== ''"
            >3500</mat-button-toggle
          >
          <mat-button-toggle
            value="4000"
            [disabled]="formSearch.value.sqFootageMin > 4000 && formSearch.value.sqFootageMin !== ''"
            >4000+</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        (click)="toggleOpen('sqft', !toggleMenu.sqft)"
        [ngClass]="{
          selected: toggleMenu.sqft,
          active: formSearch.value.sqFootageMin !== '' || formSearch.value.sqFootageMax !== ''
        }"
      >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
    </p>

    <!--
    Heatmap Toggle
    -->
    <p class="mb-2">
      <button
        type="button"
        class="btn p-0"
        [ngClass]="{ active: toggleActive.heatmap }"
        (click)="toggleSelected.emit({ event: 'heatmap' }); toggleActive.heatmap = !toggleActive.heatmap"
        title="Toggle Heatmap"
      >
        <i class="fa fa-map" aria-hidden="true"></i>
      </button>
    </p>
    <p class="mb-2">
      <button type="button" [matMenuTriggerFor]="appMenu" class="btn p-0" title="Choose different map styles">
        <i class="fa fa-street-view" aria-hidden="true"></i>
      </button>
      <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'basic' })">
          Basic
        </button>
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'streets' })">
          Streets
        </button>
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'bright' })">
          Bright
        </button>
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'light' })">
          Light
        </button>
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'dark' })">
          Dark
        </button>
        <button type="button" mat-menu-item (click)="toggleSelected.emit({ event: 'mapStyle', data: 'satellite' })">
          Satellite
        </button>
      </mat-menu>
    </p>

    <!--
      Reset All Options
    -->
    <div style="position:absolute;bottom:20px;z-index:3;">
      <button type="button" class="btn p-0" (click)="formReset()" title="Reset Form">
        <i class="fa fa-ban fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="flyout-bg" (click)="toggleOpen()" (dragstart)="toggleOpen()" draggable *ngIf="toggleBackgroundShow"></div>
</form>
