<ng-container *ngIf="locations?.length; else NoLocations">
  <div class="row" *ngIf="(locations$ | async) as locations">
    <div 
    class="col col-12 col-xl-6 anim-rotate-in" 
    [ngStyle]="{ 'animation-delay' : (i/10 + .3) + 's' }" 
    *ngFor="let listing of locations; let i = index;">
      <app-listing [listing]="listing" (listingSelected)="listingSelected.emit($event)"></app-listing>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [length]="locations.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</ng-container>

<ng-template #NoLocations></ng-template>
